  /* darkPurple: 'hsl(273, 85%, 13%)',
  lightPurple: 'hsl(271, 12%, 34%)',
  veryLightPurple: 'hsl(276, 100%, 99%)',
  white: 'hsl(0, 0%, 100%)',
  green: 'hsl(150, 100%, 63%)' */
  body{
    margin: o;
    padding: 0;
  }
  header {
    background-color:hsl(273, 85%, 13%) ;
    border-radius: 100% / 0 0 30% 30%;
  }
  nav{
    padding: 40px;
  }
  nav img {
    float: left;
  }
  nav a {
    color: white;
    float: right;
    text-decoration: underline hsl(150, 100%, 63%);
    font-size: 20px;
  }
  #main{
    text-align: center;
  }
  #main h1 {
    color:hsl(276, 100%, 99%) ;
    font-size: 2.5rem;
  }
  button {
    background-color:hsl(150, 100%, 63%) ;
    padding: 20px;
    border: none;
  }
  #hero-img {
    width: 400px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
  }
  #hero-img img {
    width: 100%;
    position: absolute;
  }
  #bg-1 {
position: absolute;
top: 150px;
width: 200px;
  }
#bg-2 {
  position: absolute;
  top: 150px;
  right: 0;
  width: 100px;
}
#main span {
  text-decoration: underline hsl(150, 100%, 63%) ;
}
#card-container{
  background-color:hsl(276, 100%, 99%) ;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card {
margin: 0 auto;
height: 400px;
width: 400px;

color: hsl(273, 85%, 13%);
padding: 20px;
display: inline-block;
margin-right: 20px;

}
.card span{
  height: 30px;
  width: 30px;
  border: 1px solid;
display: inline-block;
border-radius: 50%;
font-size: 1.5rem;
}
.card h2 {
  font-size: 2rem;
}
.card p {
  font-size: 1.5rem ;
}
#founder{
  height: 100%;
  width: 100%;
}
#founder-div{
  height: 400px;
  width: 600px;
  background-color: hsl(273, 85%, 13%);
  position: relative;
  margin: 250px auto;
  color: hsl(276, 100%, 99%);
  padding: 20px;
}
#founder-img{
  position: absolute;
  width: 300px;
  top: -200px;
  left: -150px;
  z-index: -1;
}
#founder h2{
  font-size: 2rem;
}
#founder p {
  font-size: 1.5rem;
}
#bg-3{
  position: absolute;
  bottom: 0;
  right: 0;
} 
footer {
  width: 100%;
  text-align: center;
}
footer img {
  padding: 20px;
}